<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anti_Virus_Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Anti_Virus_Project.My.MySettings>
            <setting name="lastScanned" serializeAs="String">
                <value />
            </setting>
            <setting name="recordsFound" serializeAs="String">
                <value />
            </setting>
            <setting name="launchonstartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scan1Hour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultScanDirectory" serializeAs="String">
                <value>C:\Program Files (x86)</value>
            </setting>
            <setting name="protection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="primaryColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="secondaryColor" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="defaultColor" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="homeColor" serializeAs="String">
                <value>60, 179, 113</value>
            </setting>
            <setting name="useTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>White</value>
            </setting>
        </Anti_Virus_Project.My.MySettings>
    </userSettings>
</configuration>